extends layout

block content
    br
    br
    h2 Welcome to the K2_connect nodejs test app
    br
    h4 This example app shows you how to use the k2_connect_nodejs module to consume KopoKopo's Api.
    h5 To Download the module from npm run the command:    npm install --save k2_connect
    br

    h5 Check out more on the Kopokopo's Documentation
    button.btn.btn-success(href="") Check out Documentation